.tab1 {
    width: 100%;
}

.tab2 > thead > tr:first-child > td {
    padding-bottom: 17px;
}

.tab2 > tbody > tr:first-child > td > div{
    height: 35px;
}

canvas{
    border:1px solid #d3d3d3;
    visibility: hidden;
    width: 300px;
    height: 150px;
}

.tab3 > tbody > tr > td{
    width: 29px;
}

.tab4{
    visibility: hidden;
    border: 2px;
    width: 100px;
}

input{
    width: 40px;
}

#interval{
    width: 350px;
    visibility: hidden;
}